.header {
  position: fixed;
  width: 100vw;
  height: 64px;
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
}

.hamberger {
  display: flex;
  align-items: center;
  width: 25px;
  margin-left: 10px;
}

.input {
  display: flex;
  align-items: center;
  width: 422px;
  height: 42px;
  margin-right: 500px;
  color: gray;
}

.display {
  display: flex;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.logo {
  display: flex;
  gap: 10px;
}

.profile {
  border-radius: 50%;
  margin-right: 30px;
}

.display-profile {
  display: flex;
}
